<div class='container'>
	<div class='card mt-3'>
		<div class='card-body'>
			<h2 class='card-title post-title'><a
					href='/posts/{{id}}'
				>{{title}}</a></h2>
			<p class='card-text'>{{post_text}}</p>
			<div class='card-text d-flex flex-row justify-content-end post-info'>
				<p class='card-text post-created'>created by
					<span style='font-weight: bold;'>{{user.username}}</span>
					on
					{{created_at}}</p>
				<p class='card-text'><a href='/posts/{{id}}'>{{comments.length}}
						comment(s)</a></p>
			</div>
		</div>
	</div>
</div>